@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">Welcome to my ITC172 .NET donation app</p>
    <p>Now I know how to navigate the file structure of an MVC .NET program.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more about asp.net</a></p>
</div>
